
        <section class="content-header">
        <h1>
          Client Enrollment Form
          <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a <%= link_to " Show All Clients", clients_path, class: "fa fa-dashboard"  %></li>
          <li class="active">New Client</li>
        </ol>
      </section>
    
<br>

<%= render 'form' %>



  </div>
  </div>
</div>