/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require datatables.net-bs/css/dataTables.bootstrap.min
 *= require css/pure-min.css
 *= require css/grids-responsive-min.css
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-blue";

/* Custom css client form*/

.btn-info {
    
    background-color: #0078E7 !Important;
    font-color: white !Important;
}

/*fieldset {
  border: 1px solid #cecfd5;
  border-radius: 6px;
  padding: 24px 30px;
  padding-top: 1px;
  background-color: #C1DEEF;
}

legend {
     padding-left: 2px  !Important;
     padding-right: 2px !Important;
     width: inherit !Important;
     border-bottom: 0px !Important;
     background-color: #ABD0FF;
     border-radius: 15px 50px 30px;
}

.clientname {
    margin:0;
    padding:0;
}

.clientname { width: 200px; float: left; margin: 0 20px 0 0; }
.sclient { display: block; margin: 0 0 3px; font-size: 1.2em; font-weight: bold; }
.input { width: 200px; border: 1px solid #000; padding: 5px; }

/*end of custom css for client form*/