/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require datatables.net-bs/css/dataTables.bootstrap.min
 *= require css/pure-min.css
 *= require css/bootstrap-switch.css
 *= require css/blue.css
 *= require css/grids-responsive-min.css
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-blue";

/* Custom css client form*/


.pure-g {
	padding-left: 50px;
}

.pure-form .pure-input-1 {
    width: 90% !Important;
}

.pure-form select {
    height: 2.30em !Important;
}


.btn-info {
    
    background-color: #0078E7 !Important;
    font-color: white !Important;
}

/* client image*/
.image-client {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}
/*  end of client image*/	

p#notice {
    display: none;
}


/* client form */

h2 {
	background-color: #dedede;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	color: #fff;
	font-size: 1.1em;
	margin: 12px;
	padding: 0.3em 1em;
	text-shadow: #9fbeb9 1px 1px 1px;
	text-transform: uppercase;
}

.account {
	background-color: #0B5586;
}

.employment {
	background-color: #4494C9;
}

.refferal {
	background-color: #377D87;
}

.notes {
	background-color: #4494C9;
}

fieldset {
	background-color: #f1f1f1;
	border: none;
	border-radius: 2px;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 0 10px;
}
/*end of custom css for client form*/

/*Rhealth Tab*/

.pure-form-aligned .pure-control-group label {
    text-align: left !Important;
    width: initial !Important;
}

.rh-input {
	vertical-align: inherit !Important;
}