// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset {
  border: 1px solid #cecfd5;
  border-radius: 6px;
  padding: 24px 30px;
}

.clientname {
    width: 25% !Important;
    
}

.content-header > h1 {
        font-size: 38px !Important;
}

.text-muted {
    color: #90CAEC !Important;
}

input:focus { 
    background-color: lightblue;
}

.btn btn-info dropdown-toggle {
    background-color: white !Important;
}

.hidden {
    display: none;
}

.clientemail {
    width: 300px
}

.clientdob {
    width: 160px;
}

.clientphone {
    width: 200px;
}

.clientcity {
    width: 180px;
}

.clientzip {
    width: 130px;
}

.clientaddress {
    width: 180px;
}